<%-include('partials/header.ejs')-%>

<div class="container">

    <div class="socials">
        <h2 class="text-black text-center">My Contacts:</h2>
        <div class="social-links text-center mt-4">
            <a href="https://t.me/ALD1KKK"><i class="fab fa-telegram fa-xl" >Telegram</i></a><p>You can message me to add new features</p>
            <a href="https://discord.gg/3SQQhzeK"><i class="fa-brands fa-discord fa-xl">Discord</i></a><p>And also you can tell me about it!</p>
            <a href="https://steamcommunity.com/id/CjubeOfficial/"><i class="fa-brands fa-steam fa-xl">Steam</i></a><p>Steam account</p>
        </div>
    </div>
</div>





<%-include('partials/footer.ejs')-%>